<!-- Posts -->
<section class="posts">
    {{ range  .posts.Pages }}
        <div style="float: left; width: 30%; margin: 20px">
        <article class="item">
            <header>
                <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            </header>

            <a href="{{ .RelPermalink }}" class="image fit">

                {{ with .Params.images }}
                    <img src="{{ .src }}" alt="{{ .name }}">
                {{ end }}

            </a>    

            <header>
              <h3>{{ .Description }}</h3>
            </header>
        </article>
        </div>
    {{ end }}
</section>
